# Build artifacts
out/
out-demo/
*.obj
*.asm
*.map

# Executables
*.EXE

# wibo binary
wibo

# Downloaded game data
data/demo/CDDATA/
data/full
data/*.zip

# Wine
.wine

# Python
__pycache__/
*.py[codz]
*$py.class

.DS_Store
